.background-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-image: repeating-radial-gradient(var(--tertiary-color) 80%, var(--background-color) 90%, #3f4549 90%);
    background-size: 5rem 5rem;
}