/* ================= LIGHTBOX ================= */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  flex-direction: column;
}
.lightbox.hidden { display: none; }

.lightbox img.lightbox-img {
  max-width: 90%;
  max-height: 80vh;
  object-fit: contain;
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.lightbox-prev, .lightbox-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: var(--text-color);
  border: none;
  width: 3rem;
  font-size: var(--font-md);
  cursor: pointer;
  border-radius: 100%;
  aspect-ratio: 1/1;
}
.lightbox-prev { left: 2rem; }
.lightbox-next { right: 2rem; }

.lightbox-prev:hover, .lightbox-next:hover,
.lightbox-close:hover {
  background: rgba(69, 69, 69, 0.2);
  color: var((--background-color));
}
